<p id="notice"><%= notice %></p>

<p>
  <strong>Exam:</strong>
  <p class='form-control half_width'> <%= @score.exam.name %>
</p>

<p>
  <strong>Subject:</strong>
  <p class='form-control half_width'> <%= @score.subject.name %>
</p>

<p>
  <strong>Mark:</strong>
  <p class='form-control half_width'> <%= @score.mark %>
</p>

<p>
  <strong>Semester:</strong>
  <p class='form-control half_width'> <%= @score.semester %>
</p>

<p>
  <strong>User:</strong>
  <p class='form-control half_width'> <%= @score.user.name %>
</p>

<p>
  <strong>Date of Exam:</strong>
  <p class='form-control half_width'> <%= @score.date_of_exam.try(:to_date) %>
</p>

<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
