<p id="notice"><%= notice %></p>

<h1>Subjects</h1>

<table class='index'  style="width: 50% !important">
  <thead>
    <tr>
      <th>Name</th>
      <th>Subject code</th>
      <th>Department</th>
      <th>Weightage</th>
      <th colspan="2">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.name %></td>
        <td><%= subject.subject_code %></td>
        <td><%= subject.department.name %></td>
        <td><%= subject.weightage %></td>
        <td><%= link_to 'Show', subject %></td>
        <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subject', new_subject_path %>
