<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <p class='form-control half_width'> <%= @exam.name %>
</p>

<p>
  <strong>Department:</strong>
  <p class='form-control half_width'> <%= @exam.department.name %>
</p>

<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>
