<!DOCTYPE html>
<html>
  <head>
    <title>CollegeManagement</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render 'shared/navbar' %>
  	<div class="container">
      <legend>
        <%= link_to "Users", users_path%> |
        <%= link_to "Subject", subjects_path%> |
        <%= link_to "Exam", exams_path%> |
        <%= link_to "Score", scores_path%>
      </legend>
      <% flash.each do |key, value| %>
            <legend><center><u><%= value %></u></center></legend>
    <% end %>
	    <%= yield %>
	</div>
  </body>
</html>
